body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.video_container {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.video_container video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*:root {*/
/*    --primary-red: #70000e;*/
/*}*/

/*.overlay {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: var(--primary-red);*/
/*    mix-blend-mode: soft-light;*/
/*}*/

